
.footer_top{
	display: flex;
	min-height: 448px;
	position: relative;
	margin: auto;	
}
.footer_top:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./img/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	opacity: 0.5;
}

/*
.footer_img{
	width: 100%;
	min-height: 448px;
	z-index: -1;   
    object-fit: cover; 
    object-position: left; 
    background-color: rgba(244, 244, 244, 1);
    opacity: 0.5;
}
*/

.footer_top-box{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	min-height: 448px;
	position: relative;
	
}

.footer_citation{
	font-size: 20px;
	width: 359.45px;
	height: 225px;
	text-align: center;
}

.footer_citation span{
	font-family: "Lato-Italic";
}

.footer_subscribe{
}

.subscribe_text{
	text-align: center;
	font-size: 18px;
	margin-bottom: 32px;
}

.subscribe_text span{
	font-family: 'Lato-Bold';
	font-size: 24px;
}

.subscribe_form{
	width: 356px;
	height: 49px;
	border: none;
}

.subscribe_fieldset{
	border: none;
}

.subscribe_form-email{
	width: 65%;
	height: 47px;
	padding: 0 20px 0 20px;
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
	border-radius: 45px 0 0 45px;
	outline:none;
}

.subscribe_form-button{
	width: 35%;
	height: 49px;
	background-color: #F16D7F;
	border: 1px solid #F16D7F;
	border-radius: 0 45px 45px 0;
	color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}
.subscribe_form-button:hover {
	background-color: #ffffff;
	color: #F16D7F;  
}



.footer_bottom{
	background-color: #222224;
}

.footer_bottom-box{
	width: 75%;
	min-height: 79px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	justify-item: center;
	align-items: center;
}

.footer_bottom-left{
	display: flex;
	align-items: center;
}

.footer_bottom-left-text{
	color: #FBFBFB;
}

.footer_bottom-right{
	width: 148px;
	display: flex;
	justify-content: space-between;
}

.social_blok{
	display: block;
	text-align: center;
	line-height: 2;	
	width: 32px;
	height: 32px;
	background: #fff;
	color: #000;
	transition: all 0.5s;
}

.social_blok:hover{
	color: #fff;
	background: #F16D7F;
}


@media screen and (max-width:768px){
	
	.footer_top-box{
        flex-direction: column;
        justify-content: center;
        height: 614px;
    }
    .footer_citation{
        margin-top: 64px;
    }
    .footer_img{
        height: 614px;
        width: 100%; 
        object-fit: cover; 
        object-position: -350px; 
    }
    .footer_bottom{
        padding-left: 32px;
        padding-right: 32px; 
    }
    .footer_bottom-box{
        width: 100%;
    }    
}


@media screen and (max-width:375px) {

	.footer_citation{
        width: 98%;
    }
    .footer_subscribe{
        width: 98%;
    }
    .subscribe_form{
        width: 98%;
    }
    .subscribe_fieldset{
        width: 98%;
    }
    .footer_bottom-box{
        flex-direction: column-reverse;
    }
    .footer_bottom-left{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .footer_bottom-right{
        margin-top: 43px;
    }
      .citation_text{
        font-size: 18px;
    }
    .subscribe_text{
        font-size: 14px;
    }
}
