@mixin txt($cl, $ff, $fw, $fs, $lh){
    color:$cl;
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;    
} 

.container{
    width: 1140px;
    margin: auto;
}










$dedicated-text-color1: #F16D7F;
$dedicated-text-color2: #EF5B70;
$pagination-color:                  #C4C4C4;

$pagination-border-color:           #EBEBEB;
$pagination-border-width:           1px;
$pagination-border-radius:          5px;

$pagination-hover-color:            #000;
$pagination-hover-bg:               #FFF;
$pagination-hover-border-color:     #FFF;

$pagination-active-color:           #000;
$pagination-active-bg:              #FFF;
$pagination-active-border-color:    #FFF;

$pagination-focus-color:            #EF5B70;
$pagination-focus-bg:               #FFF;
$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          none;



$pagination-padding-y:              .375rem;
$pagination-padding-x:              .75rem;
$pagination-padding-y-sm:           .25rem;
$pagination-padding-x-sm:           .5rem;
$pagination-padding-y-lg:           .75rem;
$pagination-padding-x-lg:           1.5rem;

   


/*
        $border-radius;
$pagination-margin-start:           -$pagination-border-width;
$pagination-bg:                     white;



$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $gray-200;
$pagination-hover-border-color:     $gray-300;



$pagination-disabled-color:         $gray-600;
$pagination-disabled-bg:            $white;
$pagination-disabled-border-color:  $gray-300;

$pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$pagination-border-radius-sm:       $border-radius-sm;
$pagination-border-radius-lg:       $border-radius-lg;
*/