
		/*header*/
.header{
	background-color: #222222;
	height: 75px;
	display: flex;
	justify-content: center;

}

.header_main-blok{
	width: 1600px;
	height: 75px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header_blok1{
	width: 111px;
	height: 38px;	
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header_blok2{
	width: 168px;
	height: 37px;	
	display: flex;
	justify-content: space-between;
	align-items: flex-end;	
}

.logo{
	width: 44px;
	height: 38px;
}

.search{
	width: 26px;
	height: 26.79px;
}

.menu{
	width: 32px;
	height: 23px;
}

.profile{
	width: 29px;
	height: 29px;
}

.basket{
	width: 32px;
	height: 29px;
}



		/*top*/
.top{
	height: 764px;
	background-color: #F1E4E6;
	display: flex;
	justify-content: center;
}

.top_blok{
	width: 1600px;
	height: 864px;
	display: flex;
}

.main-man{
	width: 800.58px;
	height: 764px;
	justify-self: flex-start;
}

.brand{
	width: 405px;
	height: 93.1px;
	position: relative;
	left: 64.01px;
	top: 290px;
	display: flex;
	justify-content: space-between;
	padding: 3px;
}
.brand_border{
	width: 12px;
	height: 100%;
	background-color: #F16D7F;
}
.brand_text{
	width: 377px;
	height: 93px;
	
}
.brand_text-1{
	margin: 0px;
	padding: 0px;
	font-size: 48px;
	font-family: 'Lato-Black';
}
.brand_text-2{
	margin: 0px;
	padding: 0px;
	font-size: 32px;
	font-family: 'Lato-Bold';
}
.brand_text span{
	color: #F16D7F;
}



		/*category*/
.category{
	display: flex;
	justify-content: center;
	margin-bottom: 95px;
}

.category_blok{
	width: 1140px;
	height: 470px;
	margin-top: 64px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.for_women{
	width: 360px;
	height: 260px;
	background-color: rgba(33, 22, 22, 0.7);
	display: flex;	
	justify-content: center;
}
.for_women_img{
	position: absolute;
	z-index: -1;
	
}
.for_women_text{
	width: 154px;
	height: 50px;
	align-self: center;
	z-index: 1;
}
.category_text_1{
	font-family: "Lato-Regular";
	font-size: 16px;
	margin-top: 0px;
	padding: 0px;
	color: #ffffff;

}
.category_text_2{
	font-family: 'Lato-Bold';
	font-size: 24px;
	margin-bottom: 0px;
	padding: 0px;
	color: #F16D7F;
}

.for_men{
	width: 360px;
	height: 260px;
	background-color: rgba(33, 22, 22, 0.7);
	display: flex;	
	justify-content: center;
}
.for_men_img{
	position: absolute;
	z-index: -1;
}
.for_men_text{
	width: 110px;
	height: 50px;
	align-self: center;
	z-index: 1;
}

.for_kids{
	width: 360px;
	height: 260px;
	background-color: rgba(33, 22, 22, 0.7);
	display: flex;	
	justify-content: center;
}
.for_kids_img{
	position: absolute;
	z-index: -1;
}
.for_kids_text{
	width: 115px;
	height: 50px;
	align-self: center;
	z-index: 1;
}

.accesories{
	width: 1140px;
	height: 180px;
	background-color: rgba(33, 22, 22, 0.7);
	align-self: flex-end;
	display: flex;	
	justify-content: center;
}
.accesories_img{
	position: absolute;
	z-index: -1;
}
.accesories_text{
	width: 160px;
	height: 50px;
	align-self: center;
	z-index: 1;
}




		/*featured items*/
.featured-items{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 14px;
	margin-bottom: 95px;
}


.featured-items_header-1{
	font-family: "Lato-Regular";
	color: #222222;
	font-size: 30px;
	font-weight: normal;
	margin: 6px;
}
.featured-items_header-2{
	font-family: "Lato-Regular";
	color: #9F9F9F;
	margin: 0;
}


.featured-items_main-box{
	width: 1140px;
	height: 1395px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.featured-items_product-box{
	width: 360px;
	height: 582px;
	text-align: left;
	background-color: #F8F8F8;
}
.product-box_image{
	width: 360px;
	height: 420px;
	background-color: #F3EDED;
}
.product-box_image img{
	height: 100%;
}
.product-box_description{
	margin-top: 25px;
	margin-left: 16px;
}
.product-box_header{
	font-family: "Lato-Regular";
	font-size: 13px;
	color: #000000;
}
.product-box_text{
	font-family: "Lato-Light";
	font-size: 14px;
	color: #5D5D5D;
}
.product-box_price{
	font-family: "Lato-Regular";
	font-size: 16px;
	color: #F16D7F;
}


.button{
	width: 212px;
	height: 48px;
	border: 1px solid #FF6A6A;
}
.button_text{
	font-family: "Lato-Regular";
	color: #F26376;
	font-size: 16px;
	vertical-align: middle;
}




		/*advantage*/
.advantage{
	background-color: #222224;
	display: flex;
	justify-content: center;
}
.advantage_main-box{
	width: 1140px;
	padding: 104px;
	display: flex;
	justify-content: space-between;
	justify-items: center;

}
.advantage_item-box{
	width: 360px;
	height: 134px;
	text-align: center;
}
.item-box_img{

}
.item-box_header{
	font-family: "Lato-Regular";
	color: #FBFBFB;
	font-size: 19.96px;
}
.item-box_text{
	font-family: "Lato-Light";
	color: #FBFBFB;
	font-size: 13.97px;
}



		/*footer*/
.footer{
	display: flex;
	justify-content: center;
}

.footer_top{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 1600px;
	height: 448px;
	background-color: rgba(244, 244, 244, 0.7);
}
.footer_img{
	position: absolute;
	z-index: -1;
}
.footer_citation{
	font-family: "Lato-Regular";
	font-size: 20px;
	width: 359.45px;
	height: 225px;
	text-align: center;
}
.footer_citation span{
	font-family: Lato-Italic;
}

.footer_subscribe{

}
.subscribe_form{
	border: 10px solid black;
}














/* Bold */
@font-face {
    font-family: 'Lato-Bold';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Lato-Black';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Lato-Light';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Lato-Italic';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}