*{
    margin: 0;
    padding: 0;
    font-family: 'Lato-Regular';

}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}


@import "var";
        /*-----header-----*/
@import "header&extra_header";
        /*-----item-----*/
@import "item";
        /*-----footer-----*/
@import "footer";





                    /*!!!!!_____MAIN_____!!!!!*/


        /*-----top-----*/
.top{
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;

}

.top_blok{
    width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
}

.brand{
    border-left: 12px solid $dedicated-text-color1;
    padding: 1px 1px 1px 16px;
    margin-left: 63px;
}

.brand_text-1{
    margin-bottom: -10px;
    font-size: 48px;
    font-family: 'Lato-Black';
}

.brand_text-2{
    font-size: 32px;
    font-family: 'Lato-Bold';
}

.brand_text-3{
    color: $dedicated-text-color1;
    font-family: 'Lato-Bold';
}








        /*-----category-----*/
.category{
    margin-top: 65px;
    margin-bottom: 95px;
}

.category_blok{
    width: 1140px;
    height: 470px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.top_bloks_link{
    display: block;
    height: 260px;
}
.top_bloks_link:hover{
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 1);
}

.top_bloks{
    width: 360px;
    height: 260px;
    background-color: rgba(21, 16, 16, 0.7);
    display: flex;
    justify-content: center;
}

.top_bloks_img{
    position: absolute;
    z-index: -1;
}

.top_bloks_text{
    width: 154px;
    height: 50px;
    align-self: center;
    z-index: 1;
}

.category_text_1{
    font-size: 16px;
    margin-top: 0px;
    padding: 0px;
    color: #ffffff;
}

.category_text_2{
    font-family: 'Lato-Bold';
    font-size: 24px;
    margin-bottom: 0px;
    padding: 0px;
    color: $dedicated-text-color1;
}


.accesories{
    width: 1140px;
    height: 180px;
    background-color: rgba(33, 22, 22, 0.7);
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.accesories_link{
    display: block;
    height: 180px;
}

.accesories_link:hover{
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 1);
}

.accesories_img{
    position: absolute;
    z-index: -1;
}

.accesories_text{
    width: 160px;
    height: 50px;
    align-self: center;
    z-index: 1;
}




















                     /*!!!!!_____PRODUCT_____!!!!!*/
                         

.product_h1{
    font-size: 24px;
    color: $dedicated-text-color1;
    font-weight: normal;
}

.breadcrumb_box{
}

.breadcrumb_li {
  display: inline;
  font-size: 14px;
}

.breadcrumb_li+.breadcrumb_li:before {
  padding: 0;
  color: #636363;
  font-family: 'Lato-Light';
  content: "/\00a0";
}

.breadcrumb_link { 
  padding: 4px; 
  color: #636363;
  font-family: 'Lato-Light';
}

.breadcrumb_link:hover {
  color: #000;
  font-family: 'Lato-Bold';
}



.breadcrumb_active{
    font-family: 'Lato-Bold';
    color: $dedicated-text-color1;
}







        /*-----slider-----*/
.slider{
    background-color: #F7F7F7;
}   

.slider_img-box{
    width: 100%;
    height: 777px;
    margin: auto;
    padding-left: 145px;
    padding-right: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slider_arrow{
    width: 47px;
    height: 47px;
    display: block;
    background-color: rgba(42, 42, 42, 0.15);
    text-align: center;
    font-size: 25px;
    color: #000;
    line-height: 47px;
}
.slider_arrow:hover {
    color: $dedicated-text-color1;
}


.slider_img{
    margin-top: 11px;
}

.slider_description{
    width: 1141px;
    height: 601px;
    margin: auto;
    border: 1px solid #EAEAEA;
    position: relative;
    margin-top: -65px;
    background-color: #fff;
}

.slider_description-top{
    width: 642px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 64px;
    border-bottom: 1px solid #EAEAEA;
}

.slider_description_h2{
    font-family: 'Lato-Light';
    font-weight: normal;
    font-size: 14px;
    color: $dedicated-text-color1;
}
.slider_description_h2-border{
    width: 63px;
    height: 3px;
    margin: 12px;
    background-color: #EF5B70;
}

.slider_description_h3{
    font-family: 'Lato-Light';
    font-weight: normal;
    color: #4D4D4D;
    font-size: 18px;
    margin-bottom: 48px;

}

.slider_description_text{
    font-family: 'Lato-Light';
    color: #5E5E5E;
    font-size: 14px;
    margin-bottom: 32px;
}

.slider_description_price{
    font-family: 'Lato-Light';
    color: #EF5B70;
    font-size: 24px;
}



.slider_description-bottom{
    width: 642px;
    height: 115px;
    padding: 64px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.slider_description_filter{
    display: flex;
    width: 430px;
    padding: 1px;
    margin: auto;
    margin-bottom: 35px;
    justify-content: center;
    position: absolute;
}

.slider_filter {
    display:block;
    position: relative;
    text-align: center;
    padding: 1px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.0);
    background-color: #FFF;
}

.filter_text {
    display: block;
    text-align: center;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: #6F6E6E;
    border: 1px solid rgba(0, 0, 0, 0.0);
    cursor: pointer;
}

.filter_text:hover {
    color: #F26376;
}

.filter_text:after {
    position: relative;
    top: 6px;
    left: 9px;
    content: "\02C5";
    font-size: 20px;
    color: #6F6E6E;
    margin-left: 0px;
}
.filter_text:hover:after{
    color: #F26376;
}

.slider_filter[open] > .filter_text::after {
    content: '\02C4';
}

.slider_filter[open] {
    border: 1px solid #EAEAEA;
}

.filter_text_link{
    display: block;
    font-size: 14px;
    background-color: #fff;
    color: #6F6E6E;
    
}

.filter_text_link:hover{
    font-family: 'Lato-Bold';
    color: #222222;
}



.slider_description_button_link{
    display: block;
    width: 212px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: 130px;
    border: 1px solid #FF6A6A;
}

.slider_description_button{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider_description_button_cart{
    color: #F26376;
    font-size: 24px;
    margin: 6px 24px 0px 24px;
}


.slider_description_button_text{
    color: #F26376;
    font-size: 16px;
}

.slider_description_button_link:hover {
    background-color: #FF6A6A;
}

.slider_description_button:hover .slider_description_button_text{
    color: #FFFFFF;
}

.slider_description_button:hover .slider_description_button_cart{
    color: #FFFFFF;
}




















                        /*!!!!!_____CATALOG_____!!!!!*/

.catalog-navigation-sec {
    position: relative;
    display: flex;
    justify-content: center;
}

.catalog-navigation-container {
    width: 1140px;
    margin: auto;
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content:flex-start;

}

.catalog-filter {
    position: absolute;
    z-index: 1;
}

.catalog-filter_main-item {
    width: 320px;
    display: block;
    padding: 17px;
    
}

.catalog-filter_main-item[open] {
    background: #fff;
    box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.15);
}

.catalog-filter_main-item[open] > .catalog-filter_main-header {
    color: $dedicated-text-color2;
}

.catalog-filter_main-item[open]  .filter-bars {
    content: url(img/filter_bars2.png); 
}

.catalog-filter_main-header:hover {
    color: $dedicated-text-color2;
}

.catalog-filter_main-header:hover .filter-bars{
    content: url(img/filter_bars2.png); 
}

.catalog-filter_main-header {
    cursor: pointer; 
    display: block;
}

.filter-header-text {
    display: inline;
    font-family: 'Lato-Semibold';
}

.filter-bars {
    content: url(img/filter_bars1.png);    
    display: inline;
    margin-left: 10px;
}

.catalog-filter-header {
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $dedicated-text-color2;
    margin: 18px 0px 18px 0px; 
    padding: 11px;
    display: block;
    cursor: pointer;    
}

.catalog-filter-header:hover {
    color: $dedicated-text-color2;    
}

.catalog-filter_item[open] > .catalog-filter-header {
    color: $dedicated-text-color2;
}

.catalog-filter-link {
    padding: 6px;
    display: block;
    color: #6F6E6E;
}

.catalog-filter-link:hover {
    font-family: 'Lato-Bold';
    color: #222222;
}










.catalog-checkbox{
    width: 410px;
    display: flex;
    margin: 0px auto 0px auto;
}

.catalog-checkbox_item_container{
    z-index: 2;
}

.catalog-checkbox_item{
    display:flex;
    text-align: left;
    line-height: 5px;
    padding: 3px 20px 3px 20px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.0);
}

.catalog-checkbox_item[open] > .catalog-checkbox-header::after {
    content: '\02C4';
}

.catalog-checkbox_item[open] {
    border: 1px solid #EAEAEA;
    background-color: #fff;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.catalog-checkbox-header {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6F6E6E;
    border: 1px solid rgba(0, 0, 0, 0.0);
    cursor: pointer;
    margin: 10px;
}

.catalog-checkbox-header:hover {
    color: #F26376;
}

.catalog-checkbox-header::-webkit-details-marker {
    display: none;
}

.catalog-checkbox-header:after {
    position: relative;
    top: 6px;
    left: 9px;
    content: "\02C5";
    font-size: 20px;
    color: #6F6E6E;
    margin-left: 0px;
}
.catalog-checkbox-header:hover:after{
    color: #F26376;
}

.catalog-checkbox-text{
    margin: 10px;
    display: block;
    
    font-size: 14px;
    color: #6F6E6E;    
}

.catalog-checkbox-text:hover{
    font-weight: 600;
    color: #222222;
}






.page-sec {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.pagination {
    border: $pagination-border-width solid $pagination-border-color;
    border-radius: $pagination-border-radius;
}

.page-item {
    display: flex;
    align-items: center;
}

.page-link {
    font-family: 'Lato-Light';
    color: $pagination-color;
    border-color:  rgba(0,0,0,0);  
    
}

.page-link:hover {
    color: $pagination-hover-color;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
    font-weight: 700;
}

.page-link:active {
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
    font-weight: 700;
}

.page-link:focus {
    color: $pagination-focus-color;
    background-color: $pagination-focus-bg;
    border-color: $pagination-active-border-color;
    box-shadow: $pagination-focus-box-shadow;
    outline: $pagination-focus-outline;
    font-weight: 700;
}

.page-arrow {
    color: black;
    font-size: 15px;
}

.page-arrow:hover {
    color: #EF5B70;
}




















        /*!!!!!_____CART_____!!!!!*/

.purchases_container{
    @extend .container;
    display: flex;
    justify-content: space-between;

}

.shopping-list_container {
    margin-top: 96px;
}

.shopping-list__item{
    width: 652px;
    height: 306px;
    margin-bottom: 40px;
    display: flex;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.30)
}
.shopping-list__img{
    width: 262px;
    height: 306px;
}
.shopping-list__description{
    width: 232px;
    height: 222px;
    padding-left:31px;
    padding-top: 30px;
}
.shopping-list__description_header{
    @include txt(#000,'Lato-Regular',normal,24px, 24px);
    padding-bottom: 50px;
}
.shopping-list__description_text{
    @include txt(#575757,'Lato-Regular',normal,22px, 22px);
    margin-bottom: 10px;
}
.shopping-list__description_text > span {
    color:#F16D7F;
}
.shopping-list__description_fieldset{

}
.shopping-list__description_input{
    width: 44px;
    height: 26px;
    font-size: 20px;
    text-align: center; 
    margin-left: 24px;  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping-list__cancel_link{
    width: 28px;
    height: 28px;
    font-size: 25px;
    color: #575757; 
    text-align: center; 
    line-height: 25px;
    transform: translate(110px,20px);

}
.shopping-list__cancel_link:hover{
    color: #F16D7F;
}

.shopping-list__cancel{
    width: 30px;
    height: 30px;
}





.shopping-list__buttons_container{
    width: 652px;
    height: 50px;
    margin-top: 72px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
}

.shopping-list__buttons_link{
    width: 225px;
    height: 50px;
    display: block;
    border: 1px solid #A4A4A4;
    text-align: center;
    line-height: 50px;
}
.shopping-list__buttons_link:hover{
    border: 1px solid #F16D7F;
}
.shopping-list__buttons_link:hover .shopping-list__buttons_text{
    color: #F16D7F;
}
.shopping-list__buttons_text{
    color: #000;
    font-family: 'Lato-Light';
    font-size: 14px;
    text-align: center;
}






.delivery{
    width: 360px;
    height: 272px;
    margin-top: 113px;
}
.delivery__header{
    margin-bottom: 20px;
    color: #222222;
    font-family: 'Lato-Light';
    font-size: 16px;
}
.delivery__input{
    width: 360px;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 17px;
    border: 1px solid #A4A4A4;
    color: #222222;
    font-family: 'Lato-Light';
    font-size: 13px;
}
.delivery__button{
    display: block;
    width: 104px;
    height: 35px;
    border: 1px solid #A4A4A4;
    text-align: center;
    line-height: 32px;
}
.delivery__button:hover{
    border: 1px solid #F16D7F;
}
.delivery__button:hover .delivery__button_text{
    color: #F16D7F;
}
.delivery__button_text{
    color: #4A4A4A;
    font-family: 'Lato-Light';
    font-size: 11px;
}



.total-price{
    width: 360px;
    height: 214px;
    margin-top: 57px;
    padding-top: 39px;
    padding-right: 34px;
    background-color: #F5F3F3;
    text-align: right;
}
.sub-total{
    color: #4A4A4A;
    font-family: 'Lato-Regular';
    font-size: 11px;
    margin-bottom: 12px;    
}
.grand-total{
    color: #222222;
    font-family: 'Lato-Light';
    font-size: 16px;
    margin-right: 3px;
}
.grand-total > span{
    color: #F16D7F;
    font-family: 'Lato-Bold';   
}
.total-price__border{
    margin-top: 21px;
    margin-bottom: 17px;
    margin-left: 44px;
    width: 273px;  
    border-top: 1px solid #E2E2E2;  
}
.proceed-to-checkout{
    margin-left: 44px;
    width: 273px;
    height: 50px;
    display: block;
    background-color: #F16D7F;
    text-align: center;
    line-height: 50px;
}
.proceed-to-checkout_text{
    font-family: 'Lato-Light';
    font-size: 16px;
    color: #ffffff;
    transition: all 1s;
}
.proceed-to-checkout_text:hover{
    font-family:'Lato-Bold';
    font-size: 17px;    
}



















            /*!!!!!_____REGISTRATION_____!!!!!*/


.registration-sec{

}
.registration-blok{
    width: 75%;
    margin: auto;
    margin-top: 64px; 
    margin-bottom: 96px;
    display: flex; 
    justify-content: space-between; 
}

.registration-blok_left{
    width: 32%; 
}
.registration_form__header{
    font-size: 16px;
    font-family: 'Lato-Light';
    color: #222222;
}
.registration_input__text{
    margin-top: 20px;
    padding: 13px;
    font-size: 13px;
    font-family: 'Lato-Light';
    width: 100%;
}

.registration_input__text::-webkit-input-placeholder {
    color: rgba(0,0,0,0.4);
}
.registration_input__gender-blok{
    display: flex;
    align-items: center;
    margin-top: 31px;
}
.registration_input__gender{
    width: 17px;
    height: 17px;
}
.registration_input__gender-text{
    margin-left: 10px;
    margin-right: 20px;
    font-size: 11px;
    display: inline;
    font-family: 'Lato-Light';
    color: #000;
}
.registration_form__text{
    margin-top: 15px;
    font-size: 13px;
    color: #B1B1B1; 
    font-family: 'Lato-Light';  
}
.registration__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F16D7F;
    border: 1px solid #F16D7F;
    margin-top: 39px;
    width: 156px;
    height: 50px;
    
}
.registration__button > i {
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    transition: 1s;
}
.registration__button_text{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #fff; 
    transition: 1s;     
}
.registration__button:hover {
    background-color: #fff;
    .registration__button_text{
        color: #F16D7F;
    }
    .fa-arrow-right-long{
        color: #F16D7F;
    }
}


.registration-blok_right{
    width: 56%;    
}
.registration_advantages-text{
    font-family: 'Lato-Light';
    font-size: 24px;
    margin-bottom: 22px;
    &__paragraph{
        margin-bottom: 16px;
    }
}
.registration_advantages-text>i{
    margin-right: 22px;
}


@media screen and (max-width:768px) {

    .header{
        padding-left: 32px;
        padding-right: 32px;
    }
    .header_main-blok{
        width: 100%;
    }
    .extra_header{
        padding-left: 16px;
        padding-right: 16px;
    }
    .extra_header-blok{
        width: 100%;
    }
    .registration-sec{
        padding-left: 16px;
        padding-right: 16px;
    }
    .registration-blok{
        width: 100%;
    }
    .footer_top-box{
        flex-direction: column;
        justify-content: center;
        height: 614px;
    }
    .footer_citation{
        margin-top: 64px;
    }
    .footer_img{
        height: 614px;
        width: 100%; 
        object-fit: cover; 
        object-position: -350px; 
    }
    .footer_bottom{
        padding-left: 32px;
        padding-right: 32px; 
    }
    .footer_bottom-box{
        width: 100%;
    }
    .registration_advantages-text{
        font-size: 16px;
    }
}










@media screen and (max-width:375px) {
    .header_blok2{
        justify-content: right;
    }
    .profile{
        display: none;
    }
    .header-basket-link{
        display: none;
    }
    .extra_header-blok{
        justify-content: center;
    }

    .citation_text{
        font-size: 18px;
    }
    .subscribe_text{
        font-size: 14px;
    }
    .registration-blok{
        flex-direction: column;
    }
    .registration-blok_left{
        width: 100%; 
    }
    .registration-blok_right{
        width: 100%;
        margin-top: 40px; 
    }
    .footer_citation{
        width: 98%;
    }
    .footer_subscribe{
        width: 98%;
    }
    .subscribe_form{
        width: 98%;
    }
    .subscribe_fieldset{
        width: 98%;
    }
    .footer_bottom-box{
        flex-direction: column-reverse;
    }
    .footer_bottom-left{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .footer_bottom-right{
        margin-top: 43px;
    }
}
























/* Bold */
@font-face {
    font-family: 'Lato-Bold';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Lato-Regular';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Lato-Black';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Lato-Light';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Lato-Italic';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: 'Lato-Semibold';
    src: local('Lato'),
         url('./fonts/Lato/Lato-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






